*{
    padding:0;
    margin:0;
    box-shadow:none;
}
.header{
    display:flex;
    align-items:center;
    justify-content:end;
    padding-right:10px;
    gap:15px;
    background-color:rgb(82, 124, 250);
    color:white;
    font-size:12px;
    font-family:Calibri;
    padding:10px;
}
.apple {
    display:flex;
    flex-direction:column
}
.ball
{
    display:flex;
    align-items:center;
}
.login {
    background-color:rgb(40, 62, 206);
    color:whitesmoke;
    padding:5px;
    border:1px ;
}

.Middle {
    display:flex;
    flex-direction:column;
    align-items:end;
    margin:20px;
    padding:20px;
    padding-right:150px;
    gap:100px;  
    font-family:calibri;
}
.acc {
    padding:15px;
    background-color:rgb(54, 176, 54);
    color:whitesmoke;
    border:1px solid rgb(12, 102, 0);
    border-radius:5px;
    font-size:large;
    font-weight:bold;

}
.create {
    display:flex;
    margin:15px;
    font-size:40px;
  
}

.free
{
    display:flex;
    margin:7px;
    font-size:16px;
}
.names {
    margin:5px;
    font-size:16px;
    padding:5px;
}

.morem{ 
    margin:5px;
    font-size:16px;
    padding:5px;
    width:454px;
}
.newpas{
    margin:5px;
    font-size:16px;
    padding:5px;
    width:454px;
}
.birthday {
    /* padding:7px; */
    font-size:18px;
    margin:9px;
    text-align: start;

}
.dayyys {
    font-size:12px;
    padding:4px;
    /* margin:0px; */
    height:25px;
    background-color:white;
    border-radius:3px;
    border:1px solid black;

}
.ball{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:start;
}   
.niqqa {
    margin:0px;
    display:flex; 

}
.idk{
    display:flex;
    margin:5px;
    flex-direction: column;
    font-size:10px;
}
.creete {
    display:flex;
    flex-direction:column;
    font-size:13px;
    padding-top:10px;
}
.pokkiee{
    display:flex;
    padding-bottom:20px;    
    
}
.gender {
    font-size:20px;
}
.page {
    padding-top:25px;
    font-size:18px;
    font-weight:bold;
}